footer.page-footer {
    background: #303030!important;
    position: relative;
    padding-top: 100px;
    padding-bottom: 60px;
    overflow: hidden;
}
.social-links {
    font-size: 16px;
}
.social-links li {
    width: 35px;
    height: 35px;
    line-height: 35px !important;
    position: relative;
    margin: 0 6px;
    text-align: center;
    display: inline-block;
    color: #00b2ca!important;
 
    -webkit-transition: all .27s cubic-bezier(.3,.1,.58,1);
    -moz-transition: all .27s cubic-bezier(.3,.1,.58,1);
    -o-transition: all .27s cubic-bezier(.3,.1,.58,1);
    -ms-transition: all .27s cubic-bezier(.3,.1,.58,1);
    transition: all .27s cubic-bezier(.3,.1,.58,1);
}
.social-links li a i {
    color: #00b2ca!important;
}
.footer-social{
    padding: 0;
}
.social-links a:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* color: #000; */
    border: 1px solid #111;
    -webkit-border-radius: 50%;
    border-radius: 2px;
    -webkit-transition: all .27s cubic-bezier(.3,.1,.58,1);
    -moz-transition: all .27s cubic-bezier(.3,.1,.58,1);
    -o-transition: all .27s cubic-bezier(.3,.1,.58,1);
    -ms-transition: all .27s cubic-bezier(.3,.1,.58,1);
    transition: all .27s cubic-bezier(.3,.1,.58,1);
}
.social-links a:hover:before {
    border-color: #05b3cb;
}
.copy-right {
    color: #fff;
}
a.scroll-to-top {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #05b3cb;
    font-size: 50px;
   
}
a.scroll-to-top i {
    font-weight: 900;
}