@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2.5rem;
    position: absolute;
    z-index: 1;
    width: 100%;
    background: rgba(0,0,0,.35);
    pointer-events: none;
}

.navbar-sticky {
    background: #303030;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 2px #d7d1d1;
animation: moveDown 0.5s ease-in-out;
}

.navbar--logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  pointer-events: all;
  cursor: pointer;
  font-size: 17px ;
}
.navbar--logo{
    font-size: 17px;
    display: inline-block;
    letter-spacing: 5px;
}
.navbar--logo span {
  /* width: 2rem;
  height: 2rem;
  margin-right: 0.5rem; */
  color: #00b2ca;
 
  display: inline-block;
  /* animation: rotate 0.7s ease-in-out 0.5s; */
}
.animateSpan span{
    color: #ffffff;
    display: inline-block;
    animation: rotate 0.7s ease-in-out 0.5s;
}

.navbar--link {
  display: flex;
  list-style: none;
  margin-bottom: 0;
 
}


.navbar--link-item {
  margin: 0rem 1rem 0 0;
  padding: 0 0.3rem;
  cursor: pointer;
  pointer-events: all;
  font-family: 'Raleway';
    color: #00b2ca;
    font-size: 1rem;
}
.activLng{color: white;}
@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
 